.container {
  display: flex;
  justify-content: center;

}

.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: 'El Messiri', sans-serif;

  &__number {
    font-size: 130px;
  }

  &__img {
    width:180px;
    margin-top: -200px;
  }

  &__text {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;

    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: -20px;
    opacity: 0;
    transition: opacity 0.3s 0.3s  ease;
  }

  &__letter {
    width:23px;
    height: 30px;

    background-color: #f6ebe1;

    margin: 2px;

    &_inner {
      width:21px;
      height: 28px;

      box-shadow: 1px 1px #dfd6cb;
    }

  }

  &.active {
    .menuItem__text {
      opacity: 1;
    }
  }

}