.menu {
  height: 100vh;
  background-color: #e8d5bf;

  position: relative;

  overflow:hidden;

  &__circle {
    width: 500px;
    height: 500px;

    border-radius: 50%;

    background-color: #e1ceb6;

    position: absolute;
    top: 70%;
    left: 50%;

    transform: translate(-50%, 0);
  }
}